<h1 class="title">{{title}}</h1>

<div *ngIf="tasks" class="list">
    <div class="item"
        *ngFor="let task of tasks"
    >
        <div class="item-header">
            <a (click)="openDetails(task)" [style.color]="task.status.color">
                {{task.status.name}}
            </a>

            <a class="link" (click)="openDetails(task)">
                {{task.name}}
            </a>

            <a class="clicable" (click)="deleteTask(task.id)">
                <i class="fas fa-trash fa-lg"></i>
            </a>
        </div>
    </div>
</div>

<ngx-loading [show]="loading"
    [config]="{ primaryColour: '#003792', secondaryColour: '#003792', tertiaryColour: '#003792'}"
></ngx-loading>

<new-item [click]="newTask">Adicionar Tarefa</new-item>