$itemColor: #ececec;
$checkedColor: #06a506;
$linkColor: #0024a7;

div.list {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .item {
        display: flex;
        font-size: 1.5em;
        margin: 5px 0;
        background-color: $itemColor;
        border-radius: 15px;

        a {
            padding: 10px;
            align-items: center;

            i {
                margin: 0 5px;
            }
        }
        a:hover {
            cursor: pointer;
        }
        a:nth-child(2) {
            width: 100%;
            color: $linkColor;
        }
        a:nth-child(2):hover {
            text-decoration: underline;
        }
        a:first-child {
            background-color: transparent;
        }
        a:last-child {
            background-color: transparent;
        }
        a:last-child:hover {
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            background-color: darken($itemColor, 20%);
        }
    }

    .item:hover {
        background-color: darken($itemColor, 10%);
    }
}

.checked {
    color: $checkedColor;
}