<h1 class="title">{{title}}</h1>

<div *ngIf="tasks.length" class="list">
    <div class="item"
        *ngFor="let task of tasks"
    >
        <div class="item-header">
            <a class="link" (click)="openDetails(task)">
                {{task.name}}
            </a>

            <a (click)="openDetails(task)" [style.color]="task.status.color">
                {{task.status.name}}
            </a>

            <ng-template [ngIf]="task.active" [ngIfElse]="deactivated">
                <a class="clicable" (click)="deactivateTask(task)">
                    <i class="fas fa-minus-circle disable fa-lg"></i>
                </a>
            </ng-template>
            
            <ng-template #deactivated>
                <a class="clicable" (click)="activateTask(task)">
                    <i class="fas fa-recycle enable fa-lg"></i>
                </a>
            </ng-template>
        </div>
    </div>
</div>

<button *ngIf="hasNext" class="btn btn-primary" (click)="loadMore()" style="width: 100%;">
    Carregar Mais
</button>

<ngx-loading [show]="loading"
    [config]="{ primaryColour: '#003792', secondaryColour: '#003792', tertiaryColour: '#003792'}"
></ngx-loading>

<new-item [click]="newTask">Adicionar Tarefa</new-item>