<h1 class="title">{{title}}</h1>

<div *ngIf="lists" class="list">
    <div class="item"
        *ngFor="let list of lists"
    >
        <div class="item-header">
            <a class="clicable" (click)="openDetails(list)">
                <i class="fas fa-edit fa-lg"></i>
            </a>

            <a class="link" [routerLink]="'/lists/' + list.id + '/tasks'">
                {{list.name}}
            </a>
            
            <ng-template [ngIf]="!list.archived" [ngIfElse]="disabled">
                <a class="clicable" (click)="archiveList(list.id)">
                    <i class="fas fa-minus-circle disable fa-lg"></i>
                </a>
            </ng-template>
            
            <ng-template #disabled>
                <a class="clicable" (click)="unarchiveList(list.id)">
                    <i class="fas fa-recycle enable fa-lg"></i>
                </a>
            </ng-template>
            
        </div>
    </div>
</div>

<button *ngIf="hasNext" class="btn btn-primary" (click)="loadMore()" style="width: 100%;">
    Carregar Mais
</button>

<ngx-loading [show]="loading"
    [config]="{ primaryColour: '#003792', secondaryColour: '#003792', tertiaryColour: '#003792'}"
></ngx-loading>

<new-item [click]="newList">Adicionar Lista</new-item>